{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">

		<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
		<script type="text/javascript">
		</script>
		<style>

		</style>
	</head>

	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
					<a class="navbar-brand" href="#">二师兄网</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="{% url 'zbj:index' %}">首页 <span class="sr-only">(current)</span></a>
						</li>
						<li>
							<a href="{% url 'zbj:data' %}">数据分析</a>
						</li>
						<li>
							<a href="{% url 'zbj:classifier' %}">分类</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">关于我们 </a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
                            {% if islog %}
                                <a href="{% url 'zbj:login' %}">{{ username }}</a>
                            {% else %}
                                <a href="{% url 'zbj:login' %}">登录</a>
                            {% endif %}
						</li>
                        <li>
                            {% if islog %}
                                <a href="{% url 'zbj:logout' %}">退出登录</a>
                            {% else %}
                                <a href="{% url 'zbj:register' %}">注册</a>
                            {% endif %}
                        </li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<img src="{% static 'img/logo.jpg.jpg' %}" />
		<center>
			<form action="{% url 'zbj:classifier' %}" method="post">
                {% csrf_token %}
				<input type="text" name="keyword" id="txt01" placeholder="请输入分类" />
                <input type="hidden" name="form_type" value="index">
				<input type="submit" id="sousuo" value="搜索" />

				<img src="{% static 'img/sousuo.png' %}" style="width: 40px;height: 40px;position: relative;top: -5px;left: -130px;" />
			</form>
		</center>


		<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
	</body>

</html>